
/* BODY */
body {
  background-color: #000;
  color: #fff;
}

/* NAVBAR */
#main-navbar {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 30px;
  border-bottom: 1px solid #222;
  height: 60px;
}

/* LOGO */
.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
}

#logo {
  width: 40px;
  margin-right: 10px;
}

#moviestar-title {
  font-size: 22px;
  font-weight: bold;
  color: #fff;  
}

/* BUSCA */
#search-form {
  display: flex;
  align-items: center;
  width: 50%;
}

#search {
  width: 100%;
  height: 40px; 
  padding: 10px 14px;
  border-radius: 4px 0 0 4px;
  border: none;
  outline: none;
  font-size: 14px;
}

#search-form button {
  background-color: #f7f7f7;
  height: 40px;
  border: none;
  padding: 10px 14px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
#search-form :hover {
  background-color: #f1f1f1;
}
/* MENU */
.navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: inherit;
}

.nav-item {
  margin-left: 18px;
  display: inline-block;
}

.nav-link {
  color: #ddd;
  text-decoration: none;
  font-size: clamp(0.5rem, 1.2vw, 1rem);
  transition: 0.3s;
}

.nav-link:hover, .nav-link.bold:hover {
  color: #f5c518;
}

.nav-link.bold {
  font-weight: bold;
  color: #fff;
}



/* FOOTER */
  footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: clamp(1rem, 2vw, 1rem);
    width: 100%;
    align-items: center;
    font-size: clamp(0.5rem, 1vw, 1rem);
    color: white;
    position: fixed;
    bottom: 0;
}

.social-container{
    gap: clamp(1rem, 3vw, 1.8rem);
    margin-bottom: clamp(0.8rem, 2vw, 1.2rem);
}
.fab{
    font-size: 1.2rem;
  }
.social-item, .footer-link{
    display: inline-block;
    align-items: center;
    
}
.footer-links, .fab{
    padding: 10px;
    color: white;
}
.footer-links-container{
    gap: clamp(1.2rem, 4vw, 2rem);
  }
.footer-link :hover{
    text-decoration: none;
    color: #f5c518;
}
.social-item :hover{
  background-color: #f5c518;
  border-radius: 100%;
}
.footer-txt{
  margin-top: 1.5%;
}
